@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
margin-top:0;
margin-left:0;
margin-right:0;
margin-bottom:0;
}

a {
color: #e44d26;
text-decoration:none;
}

body {
background-color: #73695b;
}

::selection{
  background-color: #FF6600;
  color: white;
}


::-moz-selection {
  background-color: #FF6600;
  color: white;
}

h1 {
font-size:23px;
text-align:center;
color:#e44d26;
text-shadow: 1px 1px #fff7ec;
font-family: 'Montserrat', sans-serif;
}

h2{
font-size:20px;
color:#5e0000;
}

.note {
background-color:#d14b4b;
padding:8px;
font-size:12px;
color:#fdb8b8;
border-radius:3px;
margin-bottom:10px;
}

/*Menu*/
header {
background-color:#504a3f;
height:100px;
position : fixed;
width : 100%;
top:0;
}

#logo  {
background-image:url(images/logoheader.png);
width: 114px;
height: 114px;
background-repeat: no-repeat;
margin-left:40px;
margin-top:8px;
}


#menuresponsive {
 position: relative;
  
}

#menu {
margin-left:180px;
position : absolute;
bottom :35px;
left:0;
}

li a {
color:#95846d;
font-family: 'Oswald', sans-serif;
font-size: 15px;
text-decoration:none;
}

li a:hover {
color:#f16529;
text-decoration:none;
font-family: 'Oswald', sans-serif;
font-size: 15px;
}

#menu li {
border-radius:3px;
height:16px;
padding:7px;
padding-top:3px;
background-color: #484237;
margin:3px;
-moz-box-shadow: 0px 3px 0px 0px #3e392f;
-webkit-box-shadow: 0px 3px 0px 0px #3e392f;
-o-box-shadow: 0px 3px 0px 0px #3e392f;
box-shadow: 0px 3px 0px 0px #3e392f;
list-style-type: none;
display : inline-block;
}


/*Fin Menu*/


.intro {

font-style : italic;

}

h1 + p {
padding-bottom:18px;
padding-top:10px;
}

#contenant {	
margin-top :140px;
}

#page
{
font-family: 'Droid Serif', serif;
font-size:15px;
color:#17140f;
padding:10px;
padding-left: 1%;
border-radius : 10px/10px;
margin: 0 18%;
background-color : #EFD9BB;
-moz-box-shadow: 0px 3px 0px 0px #53493c;
-webkit-box-shadow: 0px 3px 0px 0px #53493c;
-o-box-shadow: 0px 3px 0px 0px #53493c;
box-shadow: 0px 3px 0px 0px #53493c;
border-radius: 4px;
}



li img {
	width:400px;
	height: 200px;
	padding-left: 150px;
	padding-top : 10px;
	}

ul li{
	
	margin : 15px 10px; 			
	list-style-image : url(puces.png)
}

#imagedebpage{
	width :200px;
	height:100px;
	padding-left :40%;
	
}

#footer {
background-color:#504a3f;
margin-bottom:0;
height:90px;
margin-top:40px;
padding:7px;
font-family: 'Montserrat', sans-serif;
font-size:12px;
}
#logof {
background-image:url(images/footer.png);
height:69px;
width:392px;
}

#indisponible{
	
	text-align:center;
	font-family: 'Droid Serif', serif;
	color :#F0D9BA;
	font-size : 20px;
	padding-top : 50px;
	
	
}
img#construction{
	
	padding-top :50px;
	margin-left :42%;
	margin-right:45%;
	position:relative;
}


/*Formulaire*/



#FormSinscrire{
	margin-left: 400px;
	margin-right : 400px;
	margin-top : 50px;
	padding-left : 15px;
	background-color : #665E51;
	border-radius: 5px;
	
}

#FormSeConnecter{
	margin-top :70px;
	margin-left: 400px;
	margin-right : 400px;
	padding-left : 15px;
	background-color : #665E51;
	border-radius: 5px;
	
	}
	 
#pcenter{
	text-align:center;
	font-family: 'Droid Serif', serif;
	color :#F0D9BA;
	margin-bottom : 10px;
	
}



	
	/*Fin formulaire*/

