@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
text-align:center;
}

body {
background-color: #73695b;
}

a img {
border:none;
text-decoration:none;
}

#page  {
display:inline-block;
margin-top:10px;
position:relative;
}

a + a {
padding-left:80px;
}

#footer2 {
height:90px;
margin-top:40px;
font-family: 'Montserrat', sans-serif;
font-size:12px;
text-align:center;
}
#logof {
background-image:url(images/footer.png);
height:69px;
width:392px;
}

#footercenter{
margin:0;
display:inline-block;
}
